body {
  background-color: rgb(251, 251, 241);
}

.header {
    padding: 25px;
    margin: none;
    background: rgb(175, 174, 174);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }

  .header ul li{
    list-style: none;
    display: inline;
  }

  .header h2,
  .header ul,
  .header ul li {
    display: inline-block;
    margin: 0;
    padding: 10px;
  }

  .header ul {
    padding-left: 60px;
  }

  .body{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .footer{
    padding: 12.5px;
    margin: none;
    background: rgb(175, 174, 174);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;    
  }

  button{
    width: 300px;
    height: auto;
    color: black;
    background-color: white;
    font-size: 30px ;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 10px;

  }